.header {
  height: 520px;
  width: 100%;
  display: flex;
  place-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.header h1 {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  font-weight: 400;
}
.header p {
  font-size: 14px;
  color: #fff;
  text-align: center;
  font-weight: 300;
  max-width: 590px;
  margin-top: 20px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  max-width: 720px;
  padding-inline: 12px;
  margin-block: 88px;
}
.title h5 {
  font-size: 26px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: #005dab;
  margin-bottom: 20px;
}
.title p {
  color: #005dab;
  font-size: 20px;
  font-weight: 300;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
}

.revistasWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-inline: 12px;
  max-width: 1284px;
  margin-inline: auto;
  margin-bottom: 88px;
}
.itemsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.itemsWrapper .floating {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.itemsWrapper .floating h6 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}
.popUpWrapper {
  max-width: 1284px;
  margin-inline: auto;
  margin-bottom: 20px;
  padding: 12px;
}
.popUp {
  background-color: #f5f5f5;
  border-radius: 8px;
  display: flex;
  padding: 24px;
  flex-wrap: wrap;
}
.popUp p {
  max-width: 500px;
  text-align: justify;
}
.popUp h3 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0em;
  margin-bottom: 12px;
}
.popUp h6 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0em;
  margin-bottom: 12px;
  margin-top: 12px;
}
.right {
  width: 50%;
  height: auto;
  border-radius: 8px;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.right img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  min-height: 400px;
  border-radius: 8px;
  object-fit: cover;
}
.right video {
  width: 100%;
  height: 100%;
  max-height: 400px;
  min-height: 400px;
  border-radius: 8px;
  object-fit: cover;
}
.popUpWrapper .left {
  width: 50%;
}
.left a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: #005dab;
  color: white;
  padding: 12px;
  padding-inline: 30px;
  border-radius: 20px;
  margin-top: 12px;
}
.tecnologiasWrapper {
  display: flex;
  max-width: 500px;
  flex-wrap: wrap;
  gap: 8px;
}

@media screen and (max-width: 1100px) {
  .popUp {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }
  .popUp .left {
    width: 100%;
  }
  .popUp .right {
    width: 100%;
  }
  .popUp p {
    max-width: 1100px;
    text-align: justify;
  }
}
