.header {
  height: 520px;
  width: 100%;
  display: flex;
  place-items: center;
  justify-content: space-around;
  flex-direction: row;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  gap: 20px;
  padding-inline: 12px;
}
.header h1 {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  font-weight: 400;
}
.header p {
  color: #fff;
  text-align: center;
  font-weight: 300;
  max-width: 590px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26.56px;
  text-align: left;
}

.selectOptionWrapper {
  display: flex;
  border-radius: 20px;
  background-color: #d9d9d9;
  width: fit-content;
  overflow: hidden;
  margin-inline: auto;
  margin-top: -23px;
  position: relative;
  z-index: 5;
  align-items: center;
}
.selectOptionWrapper div {
  padding: 16px 24px;
  cursor: pointer;
  transition: 0.3s;
}
.selectOptionWrapper div.active {
  padding: 16px 24px;
  cursor: pointer;
  transition: 0.3s;
  background-color: #8dc63f;
}
.selectOptionWrapper p {
  font-size: 12px;
  color: #fff;
  text-align: center;
  font-weight: 600;
}
.selectOptionWrapper .separator {
  width: 3px;
  height: 30px;
  background-color: #fff;
  position: relative;
  z-index: 11;
  margin-inline: -1px;
}

.wrapper {
  padding-inline: 12px;
}

.certificacionesWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 1220px;
  margin-inline: auto;
  background-color: #005dab;
  border-radius: 24px;
}
.certificacionesWrapper h1 {
  font-size: 30px;
  color: #fff;
  text-align: center;
  font-weight: 400;
  margin-top: 80px;
  margin-bottom: 40px;
}

.subWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding-top: 70px;
  position: relative;
  padding-inline: 5%;
  padding-bottom: 40px;
}

.subWrapper .divider {
  width: 100%;
  height: 2px;
  background-color: #8dc63f;
  margin-top: 16px;
  margin-bottom: 44px;
}

.subWrapper img.certificationIcon {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.subWrapper h2 {
  font-size: 26px;
  color: #005dab;
  text-align: left;
  font-weight: 500;
  margin-top: 20px;
}

.cert {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.cert p {
  max-width: 400px;
  font-size: 16px;
}
.cert h4 {
  max-width: 400px;
  font-size: 16px;
  text-transform: uppercase;
}
.certWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-start;
  width: 100%;
}
.quienesSomosWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 120px;
  max-width: 1500px;
  margin-inline: auto;
  padding-inline: 12px;
}
.titleWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1320px;
  margin: auto;
}
.titleWrapper .controls{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.titleWrapper .title {
  background-color: #f5f5f5;
  padding: 34px;
  width: 40%;
  height: fit-content;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.titleWrapper .title h1 {
  font-size: 32px;
  text-align: left;
  font-weight: 500;
  margin-bottom: 20px;
}
.titleWrapper .title p {
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 12px;
}

.titleWrapper video {
  width: 60%;
  height: 516px;
  border-radius: 20px;
  object-fit: cover;
}

.misionWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-inline: 12px;
  margin-top: 113px;
  gap: 50px;
  position: relative;
}
.misionWrapper img {
  position: absolute;
  right: -400px;
  top: -250px;
  z-index: -1;
  user-select: none;
}
.misionWrapper div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  max-width: 400px;
}
.misionWrapper h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 48px;
  text-align: center;
  color: #005dab;
  margin-bottom: 20px;
}
.misionWrapper p {
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
}
.valoresMainWrapper {
  max-width: 1355px;
  margin-inline: auto;
  padding-inline: 12px;
}
.valoresMainWrapper h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 48px;
  text-align: center;
  color: #005dab;
  margin-top: 90px;
  margin-bottom: 30px;
}
.valoresWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 50px;
}
.valorWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 410px;
  gap: 20px;
}
.valorWrapper h4 {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  margin-bottom: 8px;
}
.valoresWrapper .divider {
  width: 74px;
  border: 2px solid #8dc63f;
  margin-bottom: 8px;
}
.valorWrapper p {
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
}
.lineaDelTiempoWrapper .titleWrapper {
  padding-inline: 12px;
  margin-top: 186px;
  margin-bottom: 32px;
}
.lineaDelTiempoWrapper .titleWrapper h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #005dab;
}
.lineaDelTiempo {
  width: 100%;
  height: 620px;
  margin-bottom: 60px;
}

.lineaDelTiempoItemWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
  padding-top: 200px;
  padding-left: 40px;
}
.lineaDelTiempo .filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 46, 82, 0.7);
  z-index: 1;
}
.lineaDelTiempo .item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 400px;
  z-index: 2;
}

.lineaDelTiempo .item h4 {
  color: white;
  font-size: 36px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  margin-bottom: 10px;
}
.lineaDelTiempo .item p {
  color: white;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  max-width: 300px;
}

@media screen and (max-width: 1380px) {
  .valoresWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 50px;
  }
}
@media screen and (max-width: 968px) {
  .titleWrapper .title {
    background-color: #f5f5f5;
    padding: 34px;
    width: 100%;
    height: fit-content;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    margin-bottom: 0px;
  }
  .titleWrapper video {
    width: 100%;
    height: 516px;
    border-radius: 20px;
  }
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
  }
}
@media screen and (max-width: 604px) {
  .selectOptionWrapper {
    scale: 0.8;
  }
}
@media screen and (max-width: 480px) {
  .selectOptionWrapper {
    scale: 0.5;
  }
}
