.MainWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Header */
.header {
  background: #fff;
  width: 100%;
  height: 87px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 40px;
  padding-block: 22px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.logoImageContainer {
  width: 130px;
  height: 41px;
  background-color: #000;
}

.logoImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-color: #fff;
}

.navUl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 100%;
}

.navUl li a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  padding: 0 10px;
}

.emptyContainer {
  width: 130px;
  height: 41px;
  background-color: transparent;
}

/* Header */

/* Main */
.main {
  background: #f7bfbf;
  width: 100%;
  height: 100%;
}

/* Image banner */
.imageBannerContainer {
  height: auto;
  width: 100%;
  background-color: papayawhip;
}
.imageBanner {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-color: papayawhip;
}
/* Image banner */

/* presence  */
.presenceContainer {
  height: auto;
  width: 100%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-inline: 10vw;
  padding-block: 100px;
}

.presenceContainer div {
  text-align: justify;
  color: #000;
}

.presenceContainer h1 {
  color: #005dab;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px; /* 100% */
}

.presenceContainer p {
  color: #000;
  text-align: justify;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  width: 450px;
  margin-top: 16px;
}

.presenceVideo {
  background-color: chocolate;
  border: none;
  border-radius: 14px;
  width: 889px;
  height: 574px;
}
/* presence  */

/* Main */

/* Footer */
.footer {
  height: 360px;
  background: #005dab;
}
/* Footer */
