* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  transition: all 0.5s ease-in-out;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

#alianzasSwiper .swiper-button-next {
  color: white;
}
#alianzasSwiper .swiper-button-prev {
  color: white;
}
#lineaDelTiempoSwiper .swiper-slide {
  width: fit-content;
}
