.bgWrapper {
  width: 100%;
  min-height: 2900px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  place-items: center flex-start;
  background-color: #b3dae7;
  color: #0b2f1b;
  position: relative;
  padding-top: 200px;
  padding-bottom: 200px;
}
.textWrapper {
  position: relative;
  z-index: 2;
  text-align: center;
}
.bgWrapper img {
  z-index: 2;
  margin-bottom: 70px;
}
.bgWrapper h3 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  z-index: 2;
  max-width: 884px;
  margin-inline: auto;
  padding-inline: 12px;
}
.bgImage {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.bgImage .floating {
  position: absolute;
  bottom: 46%;
  left: 50%;
  transform: translate(-50%, 46%);
  z-index: 1;
}
.bgImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  z-index: 1;
}
.featureWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
  align-items: center;
  max-width: 1000px;
  margin-inline: auto;
  z-index: 2;
}
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 300px;
}
.feature p {
  text-align: center;
}
.feature h4 {
  font-size: 18px;
}
.feature img {
  margin-bottom: 0px;
  border-radius: 112px;
}
.featureInfo {
  width: 100%;
  max-width: 1500px;
  position: relative;
  z-index: 2;
  margin-top: 200px;
  min-height: 800px;
}
.features {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
  padding-inline: 12px;
  column-gap: 200px;
  row-gap: 20px;
}
.featuresColumn {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.feature {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  padding: 16px;
  border-radius: 10px;
  height: fit-content;
  transition: all 0.3s;
}

.feature p {
  text-align: left;
  font-size: 14px;
}

.featuresColumn span {
  color: white;
  background-color: #005dab;
  font-size: 12px;
  padding: 4px 16px;
  border-radius: 10px;
  display: block;
  width: fit-content;
  margin-top: 8px;
}

.bgImageMobile {
  width: 100%;
  height: 500px;
  max-width: 1920px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  display: none;
}

@media screen and (max-width: 971px) {
  .bgWrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    place-items: center flex-start;
    background-color: #b3dae7;
    color: #0b2f1b;
    position: relative;
    padding-top: 200px;
    padding-bottom: 200px;
    justify-content: space-between;
  }
  .featureInfo {
    width: 100%;
    max-width: 1500px;
    position: relative;
    z-index: 2;
    margin-top: 20px;
    min-height: 800px;
  }
  .bgImage {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
  }
  .bgImageMobile {
    width: 100%;
    height: 500px;
    max-width: 1920px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    display: block;
  }
  .bgImageMobile .floating {
    position: absolute;
    bottom: 90%;
    left: 50%;
    transform: translate(-50%, 90%);
    z-index: 1;
  }
  .bgImageMobile img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
  }
}
